/* ******************************************************************
 * 	title:
 *		・コンテンツ閲覧画面（storyline）のCSS定義ファイル
 *		
 *	overView:
 *		・コンテンツ閲覧画面（storyline）のデザイン定義を記載する
 * 
 * ******************************************************************/

 /* -----------------------------------------------------------------
  * 画面全体のデザイン
  * ----------------------------------------------------------------- */

  .body-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.actionBar {
	display: flex;
	justify-content: flex-start;
	background-color: #ff0000;
	width: 100%;
	height: 50px;
}

 /* -----------------------------------------------------------------
  * storylineビューワのデザイン
  * ----------------------------------------------------------------- */

.Storyline-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.Storyline-container iframe {
	width: 100%;
	height: 100%;
}
